.header {
  width: 100%;

  background-color: $c-dark-grey;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-fixed;

  &__container {
    // background-color: lightcoral;
    height: 5.6rem;

    @include breakpoint(laptop) {
      height: 12rem;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block-logo {
    display: inline-flex;
  }

  &__logo {
    margin-right: 1.5rem;
  }

  &__toggle {
    cursor: pointer;

    @include breakpoint(laptop) {
      display: none;
    }
  }

  &__hire {
    flex-shrink: 0;
  }
}

.scroll-header {
  background-color: lighten($c-dark-grey, 50%);

  box-shadow: 0 1px 4px lighten($c-dark-grey, 40%);
}
