@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin fontPoppins($width) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: $width;
}

@mixin fontOpenSans($width) {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: $width;
}
